body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #000764, #004200, #cd853f);
  overflow: hidden;
}

canvas {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
}
